/* Primary Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    background-color: #ffffff9c;
}
/* Section 1 */
.section-one{
    width: 100%;
    height: 1322px;
    background: rgba(255, 144, 14, 0.1);
}

background: rgba(255, 144, 14, 0.1);

/* Navbar Styles */
.logo{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    text-align: center;
    color: #131313;
     
}
.navigation{
    display: flex;
    justify-content: space-between;
}
.nav-address{
    display: flex;
    margin-left: 20px;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #424242;

}
li{
    margin-left: 20px;
}
.banner-title{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    text-justify: inter-word;
    text-align: center;
    color: #131313;
}
.banner-description{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
}
.primary-button{
    width: 180px;
    height: 64px;
    border: none;
    left: 870px;
    top: 463px;
    background: #FF900E;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}

/* ----------------
banner Styles -------- */

.banner{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    }
.banner-picture{
    width: 1440px;
    height: 700px;
    left: 240px;
    top: 577px;
    margin-top: 147px;
    background: url(./images/banner.png);
    border-radius: 8px;
}
/* --------------
team feature---------- */
.section-two{
    display: flex;
    justify-content: space-around;
}
.photo-gallery{
    padding: 24px;
    display: grid;
    grid-template-columns:repeat(2,0.15fr);
    row-gap: 24px;
    column-gap: 24px;
}
.team-photo{
    width: 342px;
    height: 342px;
    border-radius: 8px;
}
.feature-description{
    width: 537px;
    height: 304px;
    margin-top: 287px;
    margin-right: 301px;
    margin-left: 73px;
    margin-bottom: 232px;
}
.feature-heading{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
}
.ash{
    color: #727272;
}
.orange{
    color: #FF900E;
}
.feature-para{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #727272;

}
.feature-button{
    width: 180px;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}
/* ---------------
-----------quick style */
.section-three{
    display: flex;
    margin : 100px
}
.quick-title{
    width: 468px;
    height: 106px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
.quick-para{
    width: 586px;
    height: 78px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.description-box{
    width: 586px;
    height: 744px;
}
.quick-detail{
    width: 586px;
    height: 171px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    }
.quick-detail p{
    width: 514px;
    height: 78px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #727272;

}
.quick-detail h4{
    width: 252px;
    height: 23px;
    padding-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}
.quick-image{
    width: 708px;
    height: 1045px;
    margin-left: 100px;
    background: url(./images/architect.png);
    border-radius: 8px;
    }
.experience{
    width: 250px;
    height: 150px;
    background: #FF900E;
    border-radius: 8px;
}
.experience h2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    color: #FFFFFF;
}
.experience p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}
/* --------
------Interesting Styles */
.interesting-title{
    width: 458px;
    height: 53px;
    margin-left: 240px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
.interesting-paragraph{
    width: 542px;
    height: 52px;
    margin-left: 240px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.interesting-facts{
    display: flex;
    justify-content: space-around;
    margin-top: 75px;
    margin-left: 148px;
    margin-right: 148px;
}
.animation{
    width: 241.83px;
    height: 241.83px;
    border: 1px solid #FF900E;
    border-radius: 8px;
}
.animation img{
    width: 45.22px;
    height: 45.22px;
    padding: 45px 97px 0px 98px;
}
.animation h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    padding: 0px 92px 0px 93px;
    color: #424242;
}.animation p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #727272;
    margin-bottom: 59px;
    text-align: center;
}
.animation:hover {
    background-color: #FF900E;
  }
/* -------------
----------Sponsors styles */
.sponsor-header{
    width: 527px;
    height: 53px;
    font-family: 'Poppins', sans-serif;
    margin: 180px 596px 10px 797px;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
.sponsor-description{
    width: 542px;
    height: 52px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    margin: 24px 689px 50px 690px;
    color: #727272;
}
.sponsor-logo{
    display: flex;
    margin-left: 155px;
    width: 153.33px;
    height: 50px;
    align-items:center;
    filter: grayscale(100%);
   -webkit-filter: grayscale(100%);
}
.sponsor-logo span{
    margin-left: 155px;
}
/* my custom made section styles */
form{
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}
.Name-Email{
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap : 20px;
}
.message-description{
    background-color: #fff;
    border: 2px solid #FF900E;
    border-radius: 5px;
    color: #555;
    font-size: 12px;
    height: 60px;
    width: 460px;
    text-align: center;
    position: relative;
}
.name{
    background-color: #fff;
    border: 2px solid #FF900E;
    border-radius: 5px;
    color: #555;
    font-size: 12px;
    row
    height: 60px;
    width: 200px;
    text-align: center;
    position: relative;